/*
# Introdução

## O que significa CSS?

* Cascading Style Sheet
* Código para criar estilos no HTML
* HTML é a estrutura e o CSS a beleza
* Não é uma linguagem de programação
* É uma linguagem Style Sheet
*/